.form-group {
    margin: 0 auto;
    max-width: 320px;
    padding: 10px 0;
}
.label-group {
    margin: 0 auto;
    max-width: 350px;
    padding: 10px 0;
}
.card {
    margin: 0 auto;
    max-width: 500px;
    padding: 10px 0;
}
.cardname {
    padding: 3px 0;
}
.carddate {
    padding-top: 5px; 
}
.Submit {
    position: absolute;
    top: 50%;
}
.wrapper {
    padding-top: 20px; 
    padding-bottom: 20px;
}
.center {
    text-align: center;
}
.left {
    padding-left: 20px;
}
body {
    font-family: 'Open Sans'
}